.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.8rem;
  background-color: #232323;
  color: white;

}
.nav-logo img{
height: 50px;
width: 50px;
margin-left: 50px;

}
.nav-items ul{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 50px;
}
.nav-items ul li{
  list-style: none;
  font-size: 18px;
}